body{
  font-family: Sansita, sans-serif;
  padding: 0;
  margin: 0;
  background: #122350;
}

.clearfix:after{
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

div{
  box-sizing: border-box;
}

header{
  background: url("../img/mniirip_header_logo_cuted2.png") no-repeat center top / cover;
  height: 236px;
}

.container{
  width: 1540px;
  margin: 0 auto;
  background: white;
  /*border: solid red 10px; рамка контейнеров*/
}

.head_container{
  background: none;
}

.logo{
  margin-top: 15px;
  margin-left: 199px;
  height: 161px;
  width: 161px;
  border-radius: 92px;
  float: left;
}

h2,
.titles{
  font-family: Sansation, sans-serif;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

h2{
  padding-top: 19px;
}

h1{
  color: white;
  size: 36px;
  margin-top: 57px;
  margin-right: 340px;
  text-align: center;
  position: relative;
  float: right;
}

nav{
  float: right;
  margin-top: 24px;
  margin-left: 82px;
}

.menu{
  margin: 0;
  padding: 0;
  font-family: Sansation, sans-serif;
}

.menu li{
  display: inline-block;
  margin-right: 135px;
}

.menu a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.underline{
  border-bottom: 2px solid white;
}

.link-hover-solid a {
  display: inline-block;
  color: white;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
.link-hover-solid a:after {
  background-color: white;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.link-hover-solid a:hover:after,
.link-hover-solid a:focus:after {
  width: 100%;
}

